@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  background: radial-gradient(circle, #8ab1aa 40%, #5eacc2, #1f81af);
  font-family: Oxygen, sans-serif;
}

/* first row */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
  text-align: center;
  border: 1px solid red;
}

.userInput {
  position: absolute;
  margin-top: 190px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -30%);
}

.col-centered input {
  width: 200px;
  border-radius: 20px;
  text-align: center;
}
/* end first row */



.player1, .player2 {
  position: absolute;
  margin-top: 100px;
  top: 100%;
  left: 50%;
}

.player1{
  z-index: 2;
}

.player2{
  z-index: 1;
}

.usernames {
  display: none;
}

.pulse-button {
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 50%;
    background-color: #e84c3d;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png);
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
     /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

  .start-pulse {
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  .animate-player-one {
    transition: all 0.1s ease-in;
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px); /** Chrome & Safari **/
  }

  .animate-player-two {
    transition: all 0.1s ease-in;
    transform: translateX(350px);
    -webkit-transform: translateX(260px); /** Chrome & Safari **/
  }

 



  .player-two {
    background-color: green;
    background-image: url(../images/player_two.png);
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

 

  /* search btn */
  .button {
    margin-right: 5px;
    height: 50px;
    min-width: 100px;
    background: #348aa7;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 0px #348aa7;
    border-bottom: 2px solid #30809b;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 250px;
    /* bring your own prefixes */
    transform: translate(-50%, -30%); /* x, y */
  }
  .button:hover {
    background: #2e7a94;
    box-shadow: 0 4px 1px #2e7a94;
    border-bottom: 2px solid #2a7088;
    transition: all 0.1s ease-in;
  }
  .button:active {
    transform: translate(-50%, -1px);
    border-bottom-width: 2px;
    box-shadow: none;
  }

 /* middle row */
 .middle {
  margin-top: 220px;
}
  /* board */
  .board {
    position: absolute;
    bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .cards {
    text-align: center;
  }

  /* ready button */
  .ready-close-container {
    height: 200px;
    line-height: 200px;
    text-align: center;
  }

  .btn-round {
    border: 0;
    border-radius: 30px;
    width: 100%;
    color: #fff;
  }

  .btn-lg {
    padding: 15px;
  }

  .btn-filled-orange {
    background: #ff6b6b;
  }

  .cards-choice-1 {
    text-align: right;
  }

  .cards-choice-2 {
    text-align: left
  }

  .choices {
    margin: auto;
    padding-top: 20px;
    z-index: -1;
    width: 200px;
    height: 300px;
    
  }

  .slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

 /* ----------------------------------------------
 * Generated by Animista on 2018-11-7 1:53:41
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
}



/* rotate center */
.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}


/* ----------------------------------------------
 * Generated by Animista on 2018-11-7 2:3:55
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}




  

  