@import url(https://fonts.googleapis.com/css?family=Montserrat);

.player1, .player2 {
  position: absolute;
  margin-top: 25px;
  top: 50%;
  left: 50%;
}

.player1{
  z-index: 2;
}

.player2{
  z-index: 1;
}

.usernames {
  display: none;
}

.pulse-button {
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
    border-radius: 50%;
    background-color: #e84c3d;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/173024/jonathanlarradet_copy.png);
    background-size:cover;
    background-repeat: no-repeat;
    cursor: pointer;
     /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

  .start-pulse {
    -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }

  .animate-player-one {
    transition: all 0.1s ease-in;
    transform: translateX(-350px);
    -webkit-transform: translateX(-350px); /** Chrome & Safari **/
  }

  .animate-player-two {
    transition: all 0.1s ease-in;
    transform: translateX(350px);
    -webkit-transform: translateX(260px); /** Chrome & Safari **/
  }

.col-centered {
    padding: 70px 0;
}

  .player-two {
    background-color: green;
    background-image: url(../images/player_two.png);
  }
  
  @-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
  @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

 

  .button {
    margin-right: 5px;
    height: 50px;
    min-width: 100px;
    background: #348aa7;
    border: none;
    outline: none;
    color: white;
    font-family: inherit;
    font-weight: 400;
    font-size: 20px;
    border-radius: 3px;
    box-shadow: 0 5px 0px #348aa7;
    border-bottom: 2px solid #30809b;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-top: 60px;
    /* bring your own prefixes */
    transform: translate(-50%, -30%); /* x, y */
  }
  .button:hover {
    background: #2e7a94;
    box-shadow: 0 4px 1px #2e7a94;
    border-bottom: 2px solid #2a7088;
    transition: all 0.1s ease-in;
  }
  .button:active {
    transform: translate(-50%, -1px);
    border-bottom-width: 2px;
    box-shadow: none;
  }
  

  